<section class="hero">
  <h1>Bienvenido a X, donde las ideas se hacen realidad</h1>
  <p>Únete a la conversación global. Comparte lo que piensas, ¡haz que tu voz se escuche!</p>
  <div class="buttons">
    <a mat-raised-button color="primary" class="registrarse" routerLink="/mainToolbar/register">Crear cuenta</a>
    <br> <br>
    <a mat-raised-button class="iniciar-sesion" routerLink="/mainToolbar/signIn">Iniciar sesión</a>
  </div>
  <div class="instituciones">
    <h3>Conectando con instituciones líderes:</h3>
  </div>
</section>
