  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="main-sidenav"
                 [fixedInViewport]="false">
      <mat-nav-list class="options-list">
        <div class="logo-container">
          <img class="logo" src="https://i.imgur.com/1DP47wd.jpeg" alt="LearneLogo" width="100" height="100" routerLink="/mainPage/catalog">
        </div>


        <mat-list-item>
          <a routerLink="/mainPage/profile"><mat-icon>account_circle</mat-icon>{{ 'mainPage.profile' }}</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>logout</mat-icon>{{ 'mainPage.logOut' }}
        </mat-list-item>
      </mat-nav-list>
      <div class="button-language-container">
        <app-language-switcher></app-language-switcher>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="main-sidenav"
                 [fixedInViewport]="false">
      <mat-nav-list class="options-list">
        <div class="logo-container">
          <img class="logo" src="https://i.imgur.com/1DP47wd.jpeg" alt="LearneLogo" width="100" height="100" routerLink="/mainPage/management">
        </div>
        <mat-list-item>
          <a routerLink="/mainPage/management"><mat-icon>history</mat-icon>{{ 'mainPage.management' }}</a>
        </mat-list-item>


      </mat-nav-list>
      <div class="button-language-container">
        <app-language-switcher></app-language-switcher>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>





