<div class="chat-wrapper">
  <div class="chat-container">
    <div class="header">
      <label>Chat</label>
    </div>
    <mat-card-content>
      <div class="contacts">
        <mat-list>
          <mat-list-item *ngFor="let contact of contacts" (click)="selectContact(contact)">
            {{ getContactName(contact) }}
          </mat-list-item>
        </mat-list>
      </div>
      <div class="chat-box" *ngIf="selectedContact">
        <div class="messages">
          <mat-list>
            <mat-list-item *ngFor="let message of messages">
              {{ message.description }}
            </mat-list-item>
          </mat-list>
        </div>
        <form (ngSubmit)="sendMessage()" class="message">
          <mat-form-field class="message-input" appearance="fill">
            <mat-label>Escribe tu mensaje...</mat-label>
            <input matInput type="text" [(ngModel)]="newMessage" name="message" />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Enviar</button>
        </form>
      </div>
    </mat-card-content>
  </div>
</div>
