.profile-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts mat-card {
  max-width: 600px;
  width: 100%;
  margin: 10px 0;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
}

button {
  margin-top: 10px;
}
